[defaults]
inventory = inventory.ini
host_key_checking = False
timeout = 30
deprecation_warnings = False
retry_files_enabled = False

[inventory]
enable_plugins = ini

[privilege_escalation]
become = False
